# SteamCMD / install
AUTO_UPDATE=true
STEAMCMD_VALIDATE=false
DISK_PREFLIGHT=true
MIN_FREE_GB=15

# Server basics
SOULMASK_SERVER_NAME=RunOnFlux - Soulmask
SOULMASK_MAP=Level01_Main
SOULMASK_GAME_MODE=pve
SOULMASK_PASSWORD=test1234
SOULMASK_ADMIN_PASSWORD=admin1234
SOULMASK_MAX_PLAYERS=20

# Ports
SOULMASK_PORT=7777
SOULMASK_QUERY_PORT=27015
SOULMASK_ECHO_PORT=18888

# Saves / backups
SOULMASK_SAVING_INTERVAL=600
SOULMASK_BACKUP_INTERVAL=900
SOULMASK_INIT_BACKUP=true
SOULMASK_BACKUP_INTERVAL_MINUTES=10

# Advanced
SOULMASK_GAMEDISTINDEX=1
SOULMASK_MOD_ID=
SOULMASK_EXTRA_ARGS=
SOULMASK_SHUTDOWN_GRACE=180

